{% extends 'listings/base.html' %} {% block content %}
<h2>{{ item.title }}</h2>

<a href="{% url 'item-update' item.id %}">Modifier l'annonce</a>
<a href="{% url 'item-delete' item.id %}">Supprimer l'annonce</a>

<ul>
    <li>Description : {{ item.description }}</li>
    <li>Année : {{ item.year }}</li>
    <li>Type : {{ item.type }}</li>
    <li>Vendu ? {{item.sold | yesno}}</li>
</ul>

Un object lié au groupe :
<p>{{ item.band }}</p>

<a href="{% url 'item-list' %}">Retour à toutes les annonces</a>

{% endblock %}
